---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Company Name
  </div>
  <div class="inline opacity-75">
    <a href="https://" target="_blank" class="font-bold">#</a>
  </div>
</footer>
<style></style>
